html, body {
  margin: 0;
  // height: 100%;
}

body {
  overflow: overlay;
  // position: absolute;
  width: 100%;
}

.App {
  position: relative;
  height: 100%;
  margin:auto;
  overflow: hidden;
}

h1, h2, h3, p, a {
  font-family: "Helvetica Neue", sans-serif;
  font-weight: bold;
}

h1, h2, h3, p, a, br, img {
  &::selection {
    background: #e9157c;
  }
}

.section {
  &.desktop {
    @include media('<=desktop') {
      display: none;
    }

    @include media('>=desktop') {
      display: block;
    }
  }

  &.mobile {
    @include media('<=desktop') {
      display: block;
    }

    @include media('>=desktop') {
      display: none;
    }
  }
}